@model IEnumerable<InsuranceMVC.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Customer</a>
</p>
<table class="table" width="100%" border="1">
    <thead>
        <tr>
            <th>
                CustomerId
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a>               
            </td>
        </tr>
}
    </tbody>
</table>
